<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>delete ac</title>
    <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/signin.css">

<style>
    #mail{
        margin: 80px 0 0 0;
    }
</style>
</head>
<body>
    

{{>navbar}}
    <div class="form">
        
    <form action="/delete" method="post">
        <h2>delete Account Request.!</h2>

        <input type="email" name="mail" id="mail" placeholder="Enter Your E-mail">
        <input type="password" name="pass" id="pass" placeholder="Enter Your Password">

      
        <div class="links">
            <a href="/signup">If You Change Your Mind.! SIGN IN WITHIN <strong>2 MINUTES</strong> <i> *After That AC Will Be Deleted Permenantly*</i></a>
            
           
        </div>
        <div class="btn">
            <input type="submit" value="delete" id="submit">
        </div>
    </form>
    </div>
 
{{>footer}}

</body>
</html>





